.App {
  /* text-align: center; */
  background-color: #282c34;
  padding-top: 50px;
}

.App-logo {
  /* height: 40vmin; */
  width: 150px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* margin-top: 200px; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}

.Logo {
  height: 20px;
  /* width: 100px; */
  /* width: 100%; */
}

/* .App-link {
  color: #61dafb;
}

.App-button {
  border: none;
  border-radius: .25rem;
  background-color: white;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1rem;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
